node_modules/
playwright-report/
test-results/
blob-report/
playwright/.cache/

.env
.env.*
!.env.example

auth/
storage/
playwright/.auth/
*.log

.sfdx/
.vscode/

.DS_Store

Salesforce-Playwright-Local-Report.zip